
.panel {
    grid-area: a;
    border-radius: 16;
    background-color: var(--colors-ui-base);
    border-radius: 16px;
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr min-content;

    &__information {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
        border-radius: 0 0 16px 16px;
        background-color: var(--colors-ui-ligth);
    }

    &__control {
        padding: 2rem;
        height: 40px;
    }

    &__avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    &__title {
        font-size: 12px;
        color: #A29DFF;
    }

    &__username {
        width: min-content;
        margin-top: 10px;
        line-height: 1.2;
        font-size: 2.2em;
    }

    @media (max-width: 767px) {
        .panel__information {
            flex-direction: row;
        }
    }

}