
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: max-content;
    background-color: #5746ea;
    padding: 0.5rem;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 7px;

    &_size {
        &_big {
            width: 100%;
            font-size: 1.5rem;
        }
        &_small {
            width: 30px;
            height: 30px;
        }
    }
}