
.modal {
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    z-index: 2;
    background-color: #A8ABDC80;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &_active {
        opacity: 1;
        pointer-events: all;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 1.6em;
        text-transform: capitalize;
    }

    &__content {
        position: relative;
        width: max-content;
        height: 50%;
        padding: 2rem;
        border-radius: 16px;
        background-color: #1D204B;
    }

    &__close {
        content: "";
        width: 24px;
        height: 24px;
        top: 2rem;
        right: 2rem;
        position: absolute;
        cursor: pointer;
        
        img{
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(104%) contrast(103%);
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 767px) {
        &__content {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}