@font-face {
    font-family: "Chivo Mono";
    src: url("../../assets/fonts/ChivoMono-Black.ttf") format("ttf");
    font-weight: 400;
}


@font-face {
    font-family: "Chivo Mono";
    src: url("../../assets/fonts/ChivoMono-SemiBold.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Chivo Mono";
    src: url("../../assets/fonts/ChivoMono-Bold.ttf") format("ttf");
    font-weight: 700;
}